html{
    background-color:rgba(248, 138, 138, 0.863);
}
.title{
    text-align: center;
    font-size:50px;
    font-family: Courier,serif;
    color: white;
}
.recipes{
    color: rgb(79, 34, 163);
    background-color: rgba(228, 157, 117, 0.4);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 600px;
    margin: 30px auto;
}
.link{
    font-size: 30px;
    font-family:'Lucida Sans', Verdana, sans-serif;
}

.innertitle{
    text-align: center;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(77, 59, 49);
    font-size: 30px;
}
img{
    margin: 0 auto;
    display: block;
}